<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2022 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wjy.atom.server.mapper.UserMapper">

    <resultMap id="User" type="com.wjy.atom.server.domain.User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByName" resultMap="User" parameterType="java.lang.String">
        select *
        from t_user
        where user_name = #{name}
    </select>

    <insert id="insert" parameterType="com.wjy.atom.server.domain.User">
        insert into t_user
            (id, user_name, user_password, phone, email, create_time, update_time)
        values (#{id}, #{userName}, #{userPassword}, #{phone}, #{email}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.wjy.atom.server.domain.User">
        update t_user
        set user_name=#{userName},
            user_password=#{userPassword},
            phone=#{phone},
            email=#{email},
            update_time=#{updateTime}
        where id = #{id}
    </update>

    <update id="updateIfNecessary" parameterType="com.wjy.atom.server.domain.User">
        update t_user
        <set>
            <if test="userName !=null">user_name=#{userName},</if>
            <if test="userPassword !=null">user_password=#{userPassword},</if>
            <if test="phone !=null">phone=#{phone},</if>
            <if test="email !=null">email=#{email},</if>
            <if test="updateTime !=null">update_time=#{updateTime}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="com.wjy.atom.server.domain.User">
        delete
        from t_user
        where id = #{id}
    </delete>

</mapper>
